{% block helper_card %}

<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Need Help?</h5>
        <p class="card-text justify-text">Not sure exactly what you looking for or just want clarification? We`d be happy to chat with you and clear things up for you. Anytime!</p>
        <h5 class="card-title">IRC</h5>
        <p class="card-text"><a href="irc:irc.debian.org/debian-cloud">#debian-cloud</a></p>
        <h5 class="card-title">Email</h5>
        <p class="card-text"><a href="mailto:debian-cloud@lists.debian.org">debian-cloud@lists.debian.org</a></p>
    </div>
</div>

{% endblock %}