{% block content %}

    <nav class="navbar navbar-dark navbar-static-top shadow-sm navbar-expand-md">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="align-items-center">
                <a class="navbar-brand ml-3 mr-1" href="{{ url_for('.index') }}">
                    <img src="{{ url_for('static', filename='images/debian-logo.png') }}" height="35" alt="Debian">
                    <p class="navbar-brand pb-0 mb-0">Cloud Image Finder</a>
                </a>
            </div>
            <div class="d-flex d-flex-row align-items-center">
                {% if current_user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ current_user.avatar_url }}" alt="Avatar" class="avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">{{ current_user.username }}</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('.profile') }}">Profile</a>
                            {% if current_user.admin %}
                            <a class="dropdown-item" href="{{ url_for('.user_management') }}">User management</a>
                            <a class="dropdown-item" href="{{ url_for('.service_tokens') }}">Service tokens</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('.logout') }}">Logout</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                    <a class="nav-link text-white" href="{{ url_for('.login') }}">Sign in</a>
                {% endif %}
            </div>
        </div>
    </nav>

{% endblock %}