{% extends 'base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="confirmTokenDeletionModal" tabindex="-1" role="dialog" aria-labelledby="confirmTokenDeletionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" >Are you sure you want to delete this token?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                <p>Any applications or scripts using this token will no longer be able to access the Debian Cloud Image Finder API. You cannot undo this action.</p>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="" role="button">Delete</a>
        </div>
    </div>
    </div>
</div>


<h1>Service Tokens</h1>
<div class="border-top my-3"></div>

{% if generated_token %}
<div class="alert alert-success" role="alert">
    <p>Successfully generated token!</p>
    <p>Make sure to copy your new personal access token now. You won’t be able to see it again!</p>
    <div class="input-group">
        <input type="text" class="form-control" value="{{ generated_token }}" placeholder="Token" id="token">
        <span class="input-group-append">
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" type="button" onclick="copyClipboard('token')">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
        </span>
    </div>
</button>
</div>
{% endif %}

<div class="row mb-5">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 border shadow-sm rounded p-3">
        <h2 class="">New service access token</h2>
        <div class="border-top my-3"></div>
        <p>Service access tokens can be used to authenticate to the API over Beared Authentication.</p>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                <small class="text-muted ml-2">(What's this token for?)</small>
                {% if form.name.errors %}
                    <ul class="errors text-danger">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                {{ form.name(class_="form-control bg-light", placeholder="", type="text") }}
            </div>
            <div class="form-group">
                {{ form.expiration.label }}
                <small class="text-muted">(Days)</small>
                {% if form.expiration.errors %}
                    <ul class="errors text-danger">{% for error in form.expiration.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                {{ form.expiration(class_="form-control bg-light", placeholder="", type="number") }}
            </div>
            <div class="d-flex justify-content-end">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>

        {% if user_service_tokens %}
        <div class="border-top my-3"></div>
        <p>Tokens you have generated that can be used to access the Debian Cloud Image Finder API.</p>
        <ul class="list-group">
            <table class="table table-bordered mt-3 mb-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Expiration</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service_token in user_service_tokens %}
                    <tr>
                        <td>{{ service_token.name }}</td>
                        <td>{{ service_token.created_at.date() }}</td>
                        <td>{{ service_token.expires_at.date() }}</td>
                        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmTokenDeletionModal" data-token-id="{{ service_token.public_id }}">
                            Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}